<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Wado Ki Kai Karate, Alameda, California" />
  <meta name="keywords" content="Karate, Wadokikai, Wado Ki Kai, to learn from all things" />
  <meta name="Copyright" content="Copyright (c) 2021 wadokikai.com" />
  <meta name="robots" content="all" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>
</head>

<body>
  <img class='wkkbg' src="../images/wkkpatch22_med.png">
  <nav class="container-fluid navbar navbar-dark bg-primary">
      <div>
        <img src="/images/patch.png" class="d-inline-block align-top nav-brand-img" alt="">
        <a class="navbar-brand navbarfont" href="<%=nav[0].URL%>"><%=title%></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-item nav-link active" href="<%=nav[0].URL%>"><%=nav[0].homeText%> <span class="sr-only">(current)</span></a>
          <% for(let i = 0; i<nav.length; i++) { %>
              <a class="nav-item nav-link" href="<%=nav[i].URL%>"><%=nav[i].Text%> </a>
          <% } %>
        </div>
      </div>
    </nav>
  <div class='container'>
    <div class='row p-1'>
      <h2>ERROR: </h2>
    </div> 
    <div class='row p-2'> 
      <h3><%=errorMsg%></h3>
    </div>
    <div class='row p-5'>
      <h5>Please try again.</h5>
    </div>
  </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
  crossorigin="anonymous"></script>

</html>